  <turbo-frame id="shop-content">
    <turbo-frame id="flash">
        <%= render "shared/flash" %>
    </turbo-frame>
      <%= render "shared/submenu" %>
    <div class="page shop">
      <%= render "pages/shop/bytraders" %>
      <%# <h1>Shop</h1> %>
    </div>
  </turbo-frame>