.page {
  padding: 5vh;
  padding-top: 15vh;
  border: solid 1px black;
  height: 100vh;
}

.home {
}

.visitus {
  background-color: #0cb2af;
}

.ourtraders {
  background-color: #a1c65d;
}

.becomeatrader {
  background-color: #fac723;
}

.eventstours {
  background-color: #f29222;
}

.news {
  background-color: #e95e50;
}

.thenightmarket {
  background-color: #936fac;
}
