.page-visitus {
  background-color: #0cb2af;
  //   background-image: linear-gradient(to top, #0cb2af 90%, white 100%);
  color: rgb(36, 36, 36);
  padding-top: 15vh;
  //   animation: fade-out 2s linear forwards;
  //   animation-timeline: scroll();
  //   animation-range-end: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  width: 100%;
}

.page-visitus :before,
.page-visitus :after {
  position: fixed;
  left: 0;
  pointer-events: none;
  width: 100%;
  z-index: 1;
  content: "";
}

.page-visitus :before {
  //   top: 0;
  //   height: 10vh;
  //   background-image: linear-gradient(0deg, #0cb2af, #ffffff);
}

.page-visitus :after {
  bottom: 0;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
