<turbo-frame id="main-content">
  <%= render "pages/shared/submenu" %>
  <div class="page visitus parking">
    <h1>Parking</h1>
  </div>
</turbo-frame>

<turbo-frame id="main-content-mobile">
  <div class="page visitus parking">
    <h1>Parking</h1>
  </div>
</turbo-frame>

