.accordion {
  display: flex;
  flex-direction: row;
  //   gap: 1rem;
  overflow: hidden;
}

.accordion-panel {
  position: relative;
  // isolation: isolate;
  // --collapsed-width: clamp(1rem, 5vw, 5rem);
  // width: var(--collapsed-width);
  width: 3vw;
  height: 100vh;
  transition: max-height 0.3s ease-out, width 0.3s ease-out;
  .panel {
    position: sticky;
  }
}

.accordion-panel:has([aria-expanded="true"]) {
  max-height: 100%; /* Adjust based on content size */
  // width: calc(100vw - (6 * var(--collapsed-width)));
  width: 82vw;

  .panel {
    cursor: default;

    .panel-link {
      pointer-events: none;
    }

    .title {
      animation: changeWritingMode 0.5s forwards,
        rotateAndHide 0.5s 0.5s forwards;
    }

    // .title-logo {
    //   padding-left: 10px;
    //   .logo {
    //     width: clamp(2rem, 7vw, 4rem);
    //   }
    // }
  }
}

.panel {
  height: 100%;
  cursor: pointer;
  .title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Nova Mono";
    writing-mode: vertical-rl;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: transform 0.1s ease-in-out;
    .logo {
      width: 3vw;
    }
  }
  // .title-logo {
  //   position: absolute;
  //   display: flex;
  //   justify-content: start;
  //   align-items: start;
  //   padding-top: 10px;
  //   height: 100%;
  //   width: 100%;
  //   .logo {
  //     justify-self: center;
  //     width: 3vw;
  //   }
  // }

  .title:hover {
    animation: shake 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1000px) {
  .accordion {
    .accordion-panel {
      width: 100vw;
      height: 100vh;
      transition: max-height 0.3s ease-out, width 0.3s ease-out;
    }
    .accordion-panel:has([aria-expanded="false"]) {
      display: none;
    }
    .accordion-panel:has([aria-expanded="true"]) {
      display: block;
    }
  }
}
