.desktop-submenu {
}
.submenu-container {
  // border: solid 1px black;
}

.login-delivery-links {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  padding: 0 20px;
  gap: 1vw;
  // border: solid 1px black;
}
