@use "mixins" as m;

// Header bar
header {
  z-index: 1;
  .logo-cont {
    .logo {
      width: clamp(5rem, 5vw, 7rem);
    }
  }

  .menu-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-small);

    .icon {
      width: clamp(3rem, 4vw, 4rem);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: rotate(-20deg);
      }
    }
  }

  &.small {
    padding: var(--space-xsmall);
    .logo {
      width: clamp(3rem, 5vw, 4rem);
    }
    .icon {
      width: clamp(2rem, 4vw, 3rem);
    }
  }
}

// Main menu
.menu-list {
  display: none;

  &.closing {
    animation: fadeOut 1s forwards;
  }

  &.opened {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-family: "Nova Mono";
      font-size: clamp(1.2rem, 5vw, 3rem);
      // font-weight: bold;
      opacity: 0;
      animation: fadeIn 1s forwards;

      @include m.menu-item-styles(var(--color-acc-1), 0.8s);
      @include m.paragraph-rotation(-50, 0);

      &:nth-child(2) {
        @include m.menu-item-styles(var(--color-acc-2), 0.2s);
        @include m.paragraph-rotation(15, 0);
      }

      &:nth-child(3) {
        @include m.menu-item-styles(var(--color-acc-3), 0.6s);
        @include m.paragraph-rotation(-20, 0);
      }

      &:nth-child(4) {
        @include m.menu-item-styles(var(--color-acc-4), 0s);
        @include m.paragraph-rotation(-40, 0);
      }

      &:nth-child(5) {
        @include m.menu-item-styles(var(--color-acc-5), 0.4s);
        @include m.paragraph-rotation(70, 0);
      }

      &:nth-child(6) {
        @include m.menu-item-styles(var(--color-acc-6), 1s);
        @include m.paragraph-rotation(-15, 0);
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  header {
    display: none;

    .menu-cont {
      display: none;
      top: 0;
      left: 0;
    }
  }
}

@include m.animation;
