<div data-controller="flash">
  <% if flash[:notice] || flash.now[:notice] %>
    <div class="flash flash-notice">
      <%= flash[:notice] || flash.now[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] || flash.now[:alert] %>
    <div class="flash flash-alert">
      <%= flash[:alert] || flash.now[:alert] %>
    </div>
  <% end %>

  <% flash.clear %> <!-- Clear flash messages after displaying -->
</div>