<div class="date-time" data-delivery-target="dateTime">
    <div class="form-container">
        <div class="date">
            Dates
        </div>
        <div class="time">
            time
        </div>
    </div>
    <div class="form-submit">
        <%= button_tag "Save", type: "submit", class: "btn Save" %>
    </div>
</div>