<turbo-frame id="main-content">
   <%= render "pages/shared/submenu" %>
  <div class="page becomeatrader">
    <h1>Become a Trader</h1>
  </div>
</turbo-frame>

<turbo-frame id="main-content-mobile">
  <div class="page becomeatrader">
    <h1>Become a Trader</h1>
  </div>
</turbo-frame>

