<turbo-frame id="main-content">
  <div class="page eventstours">
    <h1>Events & Tours</h1>
  </div>
</turbo-frame>

<turbo-frame id="main-content-mobile">
  <div class="page eventstours">
    <h1>Events & Tours</h1>
  </div>
</turbo-frame>

