<turbo-frame id="main-content">
  <div class="page ourtraders">
    <h1>Our Traders</h1>
  </div>
</turbo-frame>

<turbo-frame id="main-content-mobile">
  <div class="page ourtraders">
    <h1>Our Trader</h1>
  </div>
</turbo-frame>