.modal {
  &.loginContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    // box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding in */
    z-index: 10;

    &.hidden {
      display: opacity(0);
      transform: translateY(-100%); /* Start off-screen */
      .btn {
        &.modal-close {
          display: none;
        }
      }
    }

    &:not(.hidden) {
      transform: translateY(0); /* Slide into view */
    }

    #loginForm,
    #registerForm,
    #cartForm {
      display: none; // Hide forms by default
      // padding: 2vw;

      &.active {
        display: block; // Show when active
      }
    }
  }

  &.modalDelivery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    // box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding in */
    z-index: 20;

    &.hidden {
      display: opacity(0);
      transform: translateY(-100%); /* Start off-screen */
      .btn {
        &.modal-close {
          display: none;
        }
      }
    }

    &:not(.hidden) {
      transform: translateY(0%); /* Slide into view */
    }

    .button-nav {
      position: relative;
    }

    #deliveryForm {
    }
  }

  @media screen and (max-width: 1000px) {
    .desktop-submenu {
      display: none;
    }
  }
}
