*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
}

img,
picture,
svg {
}

input,
button,
textarea,
select {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-headers);
}

p {
  line-height: var(--line-height-body);
}
